# Setting up

## Modules

In [1]:
import sys
sys.path.append("../modules")

In [2]:
from cleaning_merging import *

In [3]:
from datetime import datetime
from IPython.display import HTML

## Data gathering variables

In [4]:
date_dataset = datetime.strptime("2018-01-01", '%Y-%m-%d')
columns_targets = ['date_month', 'id_company', 'id_branch', 'is_sole_proprietor', 'has_relocated']
columns_features = ['date_month', 'id_company', 'id_branch',
                    'is_discontinued', 'financial_calamity_outcome', 'date_established', 'qty_employees', 
                    'year_qty_employees', 'id_company_creditproxy', 'score_payment_assessment', 
                    'amt_revenue', 'year_revenue', 'amt_consolidated_revenue', 'year_consolidated_revenue',
                    'amt_consolidated_operating_result', 'year_consolidated_operating_result', 
                    'perc_credit_limit_adjustment', 'color_credit_status', 'rat_pd', 'score_pd',
                    'has_increased_risk', 'is_sole_proprietor', 'code_SBI_2', 'code_SBI_1',
                    'qty_address_mutations_total', 'qty_address_mutations_month', 'has_name_change', 
                    'code_discontinuation', 'code_financial_calamity', 'qty_issued_credit_reports', 
                    'Associate', 'Authorized official', 'Board member', 'Chairman', 'Commissioner', 
                    'Director', 'Liquidator', 'Major', 'Managing clerk', 'Managing partner', 
                    'Member of the partnership', 'Miscellaneous', 'Owner', 'Secretary', 'Secretary/Treasurer', 
                    'Treasurer', 'Unknown', 'Vice President', 'amt_operating_result', 'code_legal_form', 
                    'date_financial_calamity_started', 'date_financial_calamity_stopped', 'date_start', 
                    'from_date_start', 'qty_stopped_names', 'qty_started_names', 'year_operating_result']

In [5]:
file_output = "cleaned_merged_" + date_dataset.strftime('%Y-%m-%d') + ".csv"

In [6]:
import os
if not os.path.exists("data_out"):
    os.mkdir("data_out")

### For a loop

In [7]:
dates = ["2018-01-01", "2017-01-01", "2016-01-01", "2015-01-01", "2014-01-01", "2013-01-01"]
list_date_dataset = [datetime.strptime(date, '%Y-%m-%d') for date in dates]

## Project constants

In [8]:
project = 'graydon-moving-indicator'
bucket_name = 'graydon-data'
dir_input_data = '01_input'
dir_output_data = '02_cleaned'
clean_merge = Cleaner_Merger(project, bucket_name, dir_input_data, dir_output_data)

# Gathering data

## Features

In [9]:
file_relocations = clean_merge.dir_input_data + "/additional_data/location_start_date.CSV"
clean_merge.get_df_from_bucket(file_relocations)

,id_company,id_branch,date_relocation_last,date_relocation_penultimate
0,3,10079408,2014-10-02,NaN
1,3,10079408,2015-06-11,2014-10-02
2,4,29898765,1998-02-21,NaN
3,6,10079424,2001-06-15,NaN
4,9,10079432,1997-03-20,NaN
5,12,35,2017-08-03,NaN
6,17,51,2002-02-07,NaN
7,18,10079459,1996-02-12,NaN
8,18,10079459,1999-07-01,1996-02-12
9,18,10079459,2004-05-27,1999-07-01
10,19,14126249,1994-08-14,NaN
11,19,25176447,2001-01-11,NaN
12,19,25672622,2001-04-12,NaN
13,19,32694008,2004-04-15,NaN
14,19,35098155,2005-08-25,NaN
15,19,35528265,2005-11-24,NaN
16,22,86,1997-04-16,NaN
17,25,10079467,1988-12-01,NaN
18,35,10079475,1998-07-16,NaN
19,38,10079491,2002-09-13,NaN
20,38,10079491,2013-01-17,2002-09-13
21,40,132,1998-05-19,NaN
22,48,10079505,2003-01-16,NaN
23,56,191,1990-11-15,NaN
24,60,213,2005-06-09,NaN
25,62,10079513,1985-06-03,NaN
26,62,63451891,2015-10-08,NaN
27,67,10079521,2002-10-24,NaN
28,68,272,2006-01-05,NaN
29,69,280,1991-10-30,NaN
...,...,...,...,...
8312385,943559634,72627506,2018-10-11,NaN
8312386,943559634,72627514,2018-10-11,NaN
8312387,943559634,72627522,2018-10-11,NaN
8312388,943559642,72624477,2018-10-11,NaN
8312389,943559650,72624485,2018-10-11,NaN
8312390,943559669,72624493,2018-10-11,NaN
8312391,943559677,72624507,2018-10-11,NaN
8312392,943559685,72624515,2018-10-11,NaN
8312393,943559693,72624523,2018-10-11,NaN
8312394,943559707,72624531,2018-10-11,NaN
8312395,943559715,72624558,2018-10-11,NaN
8312396,943559723,72624566,2018-10-11,NaN
8312397,943559731,72624574,2018-10-11,NaN
8312398,943559758,72624582,2018-10-11,NaN
8312399,943559766,72624590,2018-10-11,NaN
8312400,943559774,72624604,2018-10-11,NaN
8312401,943559782,72624612,2018-10-11,NaN
8312402,943559790,72624620,2018-10-11,NaN
8312403,943559804,72624639,2018-10-11,NaN
8312404,943559812,72624647,2018-10-11,NaN
8312405,943559820,72624655,2018-10-11,NaN
8312406,943559839,72624663,2018-10-11,NaN
8312407,943559847,72624671,2018-10-11,NaN
8312408,943559855,72624698,2018-10-11,NaN
8312409,943559863,72624701,2018-10-11,NaN
8312410,943559871,72624728,2018-10-11,NaN
8312411,943559898,72624736,2018-10-11,NaN
8312412,943559901,72624744,2018-10-11,NaN
8312413,943560225,72625090,2018-10-11,NaN
8312414,943562023,72627298,2018-10-11,NaN

,id_company,id_branch,date_relocation_last,date_relocation_penultimate
0,3,10079408,2014-10-02,NaN
1,3,10079408,2015-06-11,2014-10-02
2,4,29898765,1998-02-21,NaN
3,6,10079424,2001-06-15,NaN
4,9,10079432,1997-03-20,NaN
5,12,35,2017-08-03,NaN
6,17,51,2002-02-07,NaN
7,18,10079459,1996-02-12,NaN
8,18,10079459,1999-07-01,1996-02-12
9,18,10079459,2004-05-27,1999-07-01
10,19,14126249,1994-08-14,NaN
11,19,25176447,2001-01-11,NaN
12,19,25672622,2001-04-12,NaN
13,19,32694008,2004-04-15,NaN
14,19,35098155,2005-08-25,NaN
15,19,35528265,2005-11-24,NaN
16,22,86,1997-04-16,NaN
17,25,10079467,1988-12-01,NaN
18,35,10079475,1998-07-16,NaN
19,38,10079491,2002-09-13,NaN
20,38,10079491,2013-01-17,2002-09-13
21,40,132,1998-05-19,NaN
22,48,10079505,2003-01-16,NaN
23,56,191,1990-11-15,NaN
24,60,213,2005-06-09,NaN
25,62,10079513,1985-06-03,NaN
26,62,63451891,2015-10-08,NaN
27,67,10079521,2002-10-24,NaN
28,68,272,2006-01-05,NaN
29,69,280,1991-10-30,NaN
...,...,...,...,...
8312385,943559634,72627506,2018-10-11,NaN
8312386,943559634,72627514,2018-10-11,NaN
8312387,943559634,72627522,2018-10-11,NaN
8312388,943559642,72624477,2018-10-11,NaN
8312389,943559650,72624485,2018-10-11,NaN
8312390,943559669,72624493,2018-10-11,NaN
8312391,943559677,72624507,2018-10-11,NaN
8312392,943559685,72624515,2018-10-11,NaN
8312393,943559693,72624523,2018-10-11,NaN
8312394,943559707,72624531,2018-10-11,NaN
8312395,943559715,72624558,2018-10-11,NaN
8312396,943559723,72624566,2018-10-11,NaN
8312397,943559731,72624574,2018-10-11,NaN
8312398,943559758,72624582,2018-10-11,NaN
8312399,943559766,72624590,2018-10-11,NaN
8312400,943559774,72624604,2018-10-11,NaN
8312401,943559782,72624612,2018-10-11,NaN
8312402,943559790,72624620,2018-10-11,NaN
8312403,943559804,72624639,2018-10-11,NaN
8312404,943559812,72624647,2018-10-11,NaN
8312405,943559820,72624655,2018-10-11,NaN
8312406,943559839,72624663,2018-10-11,NaN
8312407,943559847,72624671,2018-10-11,NaN
8312408,943559855,72624698,2018-10-11,NaN
8312409,943559863,72624701,2018-10-11,NaN
8312410,943559871,72624728,2018-10-11,NaN
8312411,943559898,72624736,2018-10-11,NaN
8312412,943559901,72624744,2018-10-11,NaN
8312413,943560225,72625090,2018-10-11,NaN
8312414,943562023,72627298,2018-10-11,NaN

In [ ]:
df_features = clean_merge.get_features(date_dataset, columns_features)

Example of the data:

In [ ]:
df_features.head()

Number of company, branch, month combinations

In [ ]:
df_features.shape[0]

## Target

In [ ]:
df_target = clean_merge.get_targets(date_dataset, columns_targets)

Example of the data:

In [ ]:
df_target.head()

The number of companies with target:

In [ ]:
df_target.shape[0]

## Combining features and target

In [ ]:
df_monthly = df_features.merge(df_target,
                               on=['id_company', 'id_branch'],
                               how='left')

Example of the data:

In [ ]:
df_monthly.head()

Number of monthly company branch data records:

In [ ]:
df_monthly.shape[0]

In [ ]:
df_monthly['has_relocated']

## -----------

In [ ]:
date_month = date_dataset

df_months_combined = pd.DataFrame()  # The data frame which will contain all independent variables
    
# Get all months in range
df_date_months = pd.DataFrame(pd.date_range(date_month, periods=12, freq="M").tolist(),
                              columns=['date_month'])
df_date_months['date_month'] = df_date_months['date_month'].values.astype('datetime64[M]') # First day of month

# Get the file names of all required month files
#month_files = get_month_filenames(df_date_months, bucket, dir_data)

In [ ]:
month_files = [] # List of month files

df_date_months['year'] = df_date_months.date_month.dt.year
list_years = df_date_months['year'].unique()
# If there are multiple years, iterate through years  
for year in list_years:
    # Get the year's data file names
    dir_data_year = dir_data + '/' + str(year)
    list_blob = list(bucket.list_blobs(prefix=dir_data_year))
    # finding out which month files should be processed by looking which contain the first month date (YYYY-mm-01)
    df_year_months = df_date_months[df_date_months['year'] == year]['date_month']
    for blob in list_blob:
        for month in df_year_months:
            if (month.strftime("%Y-%m-%d") in blob.name) & ('CSV' in blob.name):
                month_files.append(blob.name)

In [ ]:
month_files

In [ ]:
# Cleaning, transforming and combining month files                
for month_file in month_files:
    with fs.open('graydon-data/' + month_file) as f:
        df_month = pd.read_csv(f, sep=';', usecols= columns_features, index_col=False)   
        df_month = df_month[(df_month['is_sole_proprietor'] == 0)] # & (one_month_df['is_discontinued'] == 0) 
        df_month.columns = (df_month.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', ''))
        df_months_combined = df_months_combined.append(df_month)
        print('The number of rows so far by adding ', month_file, ":", df_months_combined.shape[0])

df_months_combined['date_dataset'] = date_month

# Aggregating data to year
df_months_combined = df_months_combined.groupby(['date_dataset', 
                                                  'id_company', 
                                                  'id_branch']).agg({'has_relocated': 'max', 
                                                                     'date_month': 'max'})
df_months_combined = df_months_combined.rename(index=str, columns={"date_month": "date_month_last"})
df_months_combined = df_months_combined.reset_index()
df_months_combined['date_dataset'] = pd.to_datetime(df_months_combined['date_dataset'])
df_months_combined['id_company'] = df_months_combined['id_company'].astype(int)
df_months_combined['id_branch'] = df_months_combined['id_branch'].astype(int)

return(df_months_combined)