In [1]:
# Ignore 'dask' warning
import pandas as pd
import gcsfs
from google.cloud import storage
from pandas import DataFrame
from IPython.display import HTML
from google.cloud.storage import Blob
import datalab.storage as gcs_datalab
import numpy as np

In [2]:
# Setting up constants. All required
project = 'graydon-moving-indicator'
bucket_name = 'graydon-data'

In [3]:
# Initializing bucket
fs = gcsfs.GCSFileSystem(project='graydon-moving-indicator')
gcs = storage.Client()
bucket = gcs.get_bucket(bucket_name)

### Reading one year of data

In [4]:
# Pre-aggregation
def create_dict_types_original_data():
    # Setting up dictionary of column types
    dtype={ 'id_company'  :np.float64,
        'id_branch'    :np.int64,
        'is_discontinued':bool,
        'code_discontinuation': np.float64,
        'code_financial_calamity':object,
        'financial_calamity_outcome'   : np.float64,
        'code_legal_form' : np.float64,
        'qty_employees' :np.float64,
        'year_qty_employees' :np.float64,
        'id_company_creditproxy':object,
        'score_payment_assessment'    : np.float64,
        'amt_revenue'  : np.float64,
        'year_revenue'  : np.float64,
        'amt_operating_result'   : np.float64,
        'year_operating_result'    :object,
        'amt_consolidated_revenue'   : np.float64,
        'year_consolidated_revenue'   :object,
        'amt_consolidated_operating_result'     : np.float64,
        'year_consolidated_operating_result'   :object,
        'qty_issued_credit_reports' : np.float64,
        'perc_credit_limit_adjustment' :object,
        'color_credit_status'  :object,
        'rat_pd'              :object,
        'score_pd'            : np.float64,
        'has_increased_risk'  :bool,
        'is_sole_proprietor'   :bool,
        'code_sbi_2'         : np.float64,
        'qty_address_mutations_total'  :np.float64,
        'qty_address_mutations_month'   :np.float64,
        'has_relocated':bool,
        'qty_started_names': np.float64,
        'qty_stopped_names': np.float64,
        'total_changeof_board_members_' :np.float64
    }
    return dtype

In [5]:
def create_parse_dates_list_original_data():
    # Setting up dictionary of column types
    parse_dates = ['date_established' , 'date_financial_calamity_started',
        'date_financial_calamity_stopped', 'date_month', 'date_relocation_last']
    return parse_dates

In [6]:
dtype = create_dict_types_original_data()
parse_dates = create_parse_dates_list_original_data()

In [7]:
file_merge = "./files_to_bucket/2018_merged.csv"
df_one_year = pd.read_csv(file_merge, sep=',', index_col=0, dtype=dtype)

/home/mrodriguezlara/graydon/graydon-moving/lib/python3.5/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (8,9,32,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/mrodriguezlara/graydon/graydon-moving/lib/python3.5/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [8]:
df_one_year.dtypes

date_month                             object
id_company                            float64
id_branch                               int64
date_established                       object
is_discontinued                          bool
code_discontinuation                  float64
code_financial_calamity                object
date_financial_calamity_started        object
date_financial_calamity_stopped        object
financial_calamity_outcome            float64
code_legal_form                       float64
qty_employees                         float64
year_qty_employees                    float64
id_company_creditproxy                 object
score_payment_assessment              float64
amt_revenue                           float64
year_revenue                          float64
amt_operating_result                  float64
year_operating_result                  object
amt_consolidated_revenue              float64
year_consolidated_revenue              object
amt_consolidated_operating_result     float64
year_consolidated_operating_result     object
qty_issued_credit_reports             float64
perc_credit_limit_adjustment           object
color_credit_status                    object
rat_pd                                 object
score_pd                              float64
has_increased_risk                       bool
is_sole_proprietor                       bool
code_sbi_2                            float64
code_sbi_1                             object
qty_address_mutations_total           float64
qty_address_mutations_month           float64
date_start                             object
from_date_start                        object
has_relocated                            bool
qty_started_names                     float64
qty_stopped_names                     float64
has_name_change                          bool
total_changeof_board_members_         float64
dtype: object

In [9]:
# Displaying number of rows and columns
df_one_year.shape

(23224251, 41)

In [10]:
pd.crosstab(df_one_year.date_month, 
            df_one_year.has_relocated, 
            normalize = "index", 
            margins = True)

has_relocated     False     True
date_month
2018-01-01     0.994133  0.005867
2018-02-01     0.994770  0.005230
2018-03-01     0.993896  0.006104
2018-04-01     0.995046  0.004954
2018-05-01     0.994286  0.005714
2018-06-01     0.994554  0.005446
2018-07-01     0.994727  0.005273
2018-08-01     0.994708  0.005292
2018-09-01     0.994894  0.005106
2018-10-01     0.997323  0.002677
2018-11-01     0.994188  0.005812
2018-12-01     0.994957  0.005043
All            0.994794  0.005206

In [11]:
df_one_year['id_branch'].nunique()

1990550

In [12]:
df_one_year[df_one_year.has_relocated]['id_branch'].nunique()

115364

In [ ]:
df_one_year['id_company'].nunique()

In [13]:
df_one_year['date_month'].value_counts()

2018-11-01    1956201
2018-12-01    1956184
2018-10-01    1954840
2018-09-01    1948260
2018-08-01    1944428
2018-07-01    1939252
2018-06-01    1932194
2018-05-01    1928612
2018-04-01    1924123
2018-03-01    1918258
2018-02-01    1914013
2018-01-01    1907886
Name: date_month, dtype: int64

In [14]:
pd.crosstab(df_one_year.date_month, 
            df_one_year.has_relocated, 
            margins = True)

has_relocated     False    True       All
date_month
2018-01-01      1896693   11193   1907886
2018-02-01      1904002   10011   1914013
2018-03-01      1906549   11709   1918258
2018-04-01      1914591    9532   1924123
2018-05-01      1917592   11020   1928612
2018-06-01      1921671   10523   1932194
2018-07-01      1929027   10225   1939252
2018-08-01      1934139   10289   1944428
2018-09-01      1938313    9947   1948260
2018-10-01      1949606    5234   1954840
2018-11-01      1944832   11369   1956201
2018-12-01      1946319    9865   1956184
All            23103334  120917  23224251