In [1]:
# Ignore 'dask' warning
import pandas as pd
import gcsfs
from google.cloud import storage
from pandas import DataFrame
from IPython.display import HTML
from google.cloud.storage import Blob
import datalab.storage as gcs_datalab

In [2]:
# Setting up constants. All required
project = 'graydon-moving-indicator'
bucket_name = 'graydon-data'

In [3]:
# Initializing bucket
fs = gcsfs.GCSFileSystem(project='graydon-moving-indicator')
gcs = storage.Client()
bucket = gcs.get_bucket(bucket_name)

In [4]:
def read_one_year_from_bucket_merged_csv(year, dir_prefix = ''):
    """ Reads a whole year of data from the already merged files """
    full_year_df = pd.DataFrame()
    print('Starting with year: ', year)
    print(dir_prefix)
    blob_list = list(bucket.list_blobs(prefix=dir_prefix))    
    for blob in blob_list:  
        print("blob", blob.name)
        if year in blob.name:
            print('Processing file: ', blob.name)
            with fs.open('graydon-data/' + blob.name) as f:
                full_year_df = pd.read_csv(f, sep=',', index_col=0)   
        print('The number of rows so far is: ', full_year_df.shape[0])
    return full_year_df

In [5]:
one_year_df = read_one_year_from_bucket_merged_csv(dir_prefix= 'including_scores/merged_per_year/merged_cleaned', year = '2018')

Starting with year:  2018
including_scores/merged_per_year/merged_cleaned
blob including_scores/merged_per_year/merged_cleaned/
The number of rows so far is:  0
blob including_scores/merged_per_year/merged_cleaned/2017_merged.csv
The number of rows so far is:  0
blob including_scores/merged_per_year/merged_cleaned/2018_merged.csv
Processing file:  including_scores/merged_per_year/merged_cleaned/2018_merged.csv

/home/mrodriguezlara/graydon/graydon-moving/lib/python3.5/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (7,8,9,14,32,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
/home/mrodriguezlara/graydon/graydon-moving/lib/python3.5/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

The number of rows so far is:  19311866

In [7]:
# Preview of the data 
HTML(DataFrame(one_year_df).head(5).to_html())

In [ ]:
def aggregate_date_established(df):
    df['date_established'] =